<nav class="navbar navbar-expand-lg bg-0">
    <div class="container-fluid">
    
        <i class="fa-brands fa-docker" routerLink="/transfermoney"> <span class="san text-white"> Transmoney</span></i>
      <button class="navbar-toggler  b-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item  ml mx-1">
            <a class="nav-link active" aria-current="page" href="#">Help</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">Prices</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-success mx-2 border-0 text-white logIn fw-bold" type="submit" routerLink="/login">LogIn</button>
          <button class="btn btn-outline-success mx-2 border-0 Register rounded-0" type="submit" routerLink="/signup">Register</button>
        </form>
      </div>
    </div>
  </nav>