<app-header3></app-header3>
<section class="p-4 p-md-5 bg-light">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-5">
      <div class="card rounded-3">
        <div class="card-body p-4">
          <div class="text-center mb-4">
            <p class="fw-bold mb-4">Put Your Info</p>
            <h6>Transaction</h6>
          </div>
          <form action="">
            

            <div class="row mb-4">
              <div class="col-12">
                <div class="form-outline">
                  <input type="text" id="formControlLgXM" class="form-control form-control-lg"
                    value="1234 5678 1234 5678" />
                  <label class="form-label" for="formControlLgXM">Card Number</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-outline">
                  <input type="text" id="formControlLgXM" class="form-control form-control-lg"
                    value="example@gmail.com" />
                  <label class="form-label" for="formControlLgXM">EMAIL</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-outline">
                  <input type="password" id="formControlLgXM" class="form-control form-control-lg"
                    value="*****" />
                  <label class="form-label" for="formControlLgXM">Password</label>
                </div>
              </div>
            </div>
            
            <button class="btn btn-success btn-lg btn-block" routerLink="/success">Transfer your money</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<div
class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
<!-- Copyright -->
<div class="text-white mb-3 mb-md-0">
  Copyright © 2020. All rights reserved.
</div>
<!-- Copyright -->

<!-- Right -->
<div>
  <a href="#!" class="text-white me-4">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="#!" class="text-white me-4">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="#!" class="text-white me-4">
    <i class="fab fa-google"></i>
  </a>
  <a href="#!" class="text-white">
    <i class="fab fa-linkedin-in"></i>
  </a>
</div>
<!-- Right -->
</div>