<app-header3></app-header3>
<div class="container d-flex justify-content-center">
  <div class="card text-center">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
      <i class="checkmark d-flex justify-content-center">✓</i>
    </div>
      <h1>Successfully Transfered</h1> 
      <p>Thanks for Using Our Best Transaction<br/> we always be in touch</p>
      <button class="btn bg-primary text-white mt-2 fs-4" routerLink="/myaccount">GO BACK</button>
    </div>
    </div>
    