<app-header></app-header>
<div class="container-fluid">
    <div class="container">
        <app-header2></app-header2>
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
              <img src="https://images.unsplash.com/photo-1559526324-593bc073d938?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="560" loading="lazy">
            </div>
            <div class="col-lg-6 text-white">
              <h1 class="display-5 fw-bold lh-1 mb-4 mt-2">Transfer Your Money Easily Here</h1>
              <p class="lead mb-">we can provide you the best transaction system. we can easily transact your data. This Bank system are works Globaly. we can provide you the best transaction system. we can easily transact your data. This Bank system are works Globaly. This Bank system are works Globaly. we can provide you the best transaction system. we can easily transact your data. This Bank system are works Globaly.</p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 rounded-0">Personal</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4 text-white border-white rounded-0">Buisness</button> 
              </div>
            </div>
          </div>
    </div>
</div>